html { 
	height: 100%; 
	font-family: 'Open Sans', sans-serif;
}

body { 
	height: 100%; 
	margin: 0px; 
	padding: 0px 
}

input {
	border-radius: 4px;
	font-size: 18px;
	opacity:0.8;
}

#container { 
	width: 100%; 
	height: 100% 
}

#searchTextField { 
	z-index: 100; 
	position: absolute; 
 	margin: 10px 0px 0px 200px; 
 	background-color: #fff; 
 	border: 1px #fff Solid;
 	padding: 5px; 
 }

 #markerList {
 	z-index: 99;
 	position: absolute;
 	margin: 10px 0px 0px 20px;
 	background-color: rgba(255, 255, 255, 30);
 	padding: 5px;
 	opacity: 0.8;
 	border-radius: 4px;
 }

 #markerList li{
 	list-style-type: none;
 	padding: 10px;
 	padding: 10px

 }
 
 #map { 
 	width: 100%; 
 	height: 100% 
 }